<h1>Eat-Da-Burger!</h1>


<form class="create-form">
    <div class="form-group">
        <label for="burgerType"> Eat a burger</label>
        <input type="text" name="name" id="userInput">
    </div>

    <button type="submit">Burger added</button>;


</form>