.backGround {
    background-color: burlywood;
}
.create-form{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 43%;
    top: 34%;

}

.container {
    position: absolute;
    left: 80%;
    top: 188px;
    padding: 0;
    margin: 0;
}

.containerTwo {
    position: absolute;
    top: 175px;
    padding-left: 0;
}

.orderedBurgers {
    overflow: hidden;
}

.titleDevoured {
    position: fixed;
    text-align: center;
    color: green;
    border-bottom: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    
}

#userInput {
    /* text-align: center; */
    padding: 5px 10px;
    width: 100%;
}

.CompanyLogo{
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 175px;
}

.appName{
    text-align: center;
    
}

.h2-header{
    color: green;
    border-bottom: 3px solid black;
    width: fit-content;
    

}


.addBurger{
  position: absolute;
  top: 38px;
  left: 52px;
  padding: 5px 25px;
  font-size: large;
  border: none;
  border-radius: 7px;
  background-color: black;
  color: white;
}

.devouredBurgers {
position: relative;
top: 45px;
right: 10px;

}
.devoured{
    padding: 7px;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: blue;
    cursor: pointer;

}

.deleteBurgers{
    padding: 7px;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: red;
    cursor: pointer;



}