.backGround {
    background-color: burlywood;
}
.create-form{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 43%;
    top: 34%;

}

.container {
    position: absolute;
    left: 80%;
    top: 188px;
    padding: 0;
    margin: 0;
}

.containerTwo {
    position: absolute;
    top: 175px;
    padding-left: 0;
}

.orderedBurgers {
    overflow: hidden;
}

.titleDevoured {
    position: fixed;
    text-align: center;
    color: green;
    border-bottom: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    
}

#userInput {
    /* text-align: center; */
    padding: 5px 10px;
    width: 100%;
}

.CompanyLogo{
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 175px;
}

.appName{
    text-align: center;
    
}

.h2-header{
    color: green;
    border-bottom: 3px solid black;
    width: fit-content;
    

}


.addBurger{
  position: absolute;
  top: 38px;
  left: 52px;
  padding: 5px 25px;
  font-size: large;
  border: none;
  border-radius: 7px;
  background-color: black;
  color: white;
}

.devouredBurgers {
position: relative;
top: 45px;
right: 10px;

}
.devoured{
    padding: 7px;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: blue;
    cursor: pointer;

}

.deleteBurgers{
    padding: 7px;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: bold;
    color: white;
    background-color: red;
    cursor: pointer;
}

/*  Media Queries */

@media only screen and (max-width: 420px) {
    .CompanyLogo {
        height: 127px;
        width: 309px;
    }
    .appName {
        position: relative;
        bottom: 16px;
    }

    .create-form {
        position: absolute;
        left: 105px;
        top: 197px;
    }
    .container {
        position: absolute;
        left: 228px;
        top: 600px;
    }
    .containerTwo {
        display: block;
        position: absolute;
        top: 266px;
    }
    .orderedBurgers {
        font-size: 15px;
        position: relative;
        left: -6px;
    }
    .devoured {
        padding: 2px 11px;
        font-size: 13px;
        border-radius: 3px;
    }
    .devouredBurgers {
        position: relative;
        left: 0;
        font-size: 15px;
    }
    .deleteBurgers {
        padding: 2px 11px;
        font-size: 13px;
        border-radius: 3px;
    }
}